@font-face {
  font-family: 'Clear Sans';
  src: url('assets/fonts/ClearSans-Regular.ttf');
}

@font-face {
  font-family: 'Clear Sans';
  src: url('assets/fonts/ClearSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('assets/fonts/ClearSans-Bold.ttf');
  font-weight: 700;
}

body {
  margin: 36px 48px;
  background-color: #F2EBE9;

  font-family: 'Clear Sans';
}

main {
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-weight: bold;
}

.card {
  --spacing: 32px;

  background-color: white;
  padding: var(--spacing);
  border-radius: 12px;
  margin-bottom: 48px;
}
  .card pre {
    white-space: pre-wrap;
    font-family: 'Clear Sans';
  }
  .card .title {
    color: #7C3E66;
    margin-top: 0;
  }

.card p:last-child {
  margin-bottom: 0;
}

.card .group {
  background-color: #7C3E661A;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #7C3E66;
}
.card .group:not(:last-child) {
  margin-bottom: 24px;
}
  .card .group pre:only-child {
    margin: 0;
  }
  .card .group p:first-child, .card .group pre {
    margin-top: 0;
  }



@media (max-width: 767.98px) { 
  body {
    margin: 36px 24px;
  }
  }
  