@font-face {
  font-family: 'Clear Sans';
  src: url('fonts/ClearSans-Regular.ttf');
}

@font-face {
  font-family: 'Clear Sans';
  src: url('fonts/ClearSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('fonts/ClearSans-Bold.ttf');
  font-weight: 700;
}

body {
  margin: 36px 48px;
  background-color: peachpuff;

  font-family: 'Clear Sans';
}

main {
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-weight: bold;
}

.card {
  --spacing: 32px;

  background-color: white;
  padding: var(--spacing) calc(var(--spacing) * 1.5) var(--spacing) var(--spacing);
  border-radius: 6px;
  margin-bottom: 24px;
}

.card pre {
  white-space: pre-wrap;
  font-family: 'Clear Sans';
}

.card .title {
  margin: 0;
}

.card p:last-child {
  margin-bottom: 0;
}